# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/Backend/node_modules
/Client/node_modules

/Backend/.env
./Backend/servers.db
Backend/servers.db

/Backend/ssh_keys/*
/Backend/.env

./client/build